//5 color color-scheme from lightest to darkest
$color-1: #F3F5F4;
$color-2: #0B0C10;
$color-3: #EC4042;
$color-4: #66FCF1;
$color-5: #45A29E;
$color-6: #1F2833;

$color-2-1: rgba(11, 12, 16, 0.788);

$dark-color: rgba(56, 59, 65, 0.904);
$dark-color2: rgb(56, 59, 65);

//color 4 in opate variant
$color-4Opate: rgba(140, 146, 185, 0.247);

$color-container-white: rgba(243, 245, 244, 0.726);
$color-container-red: rgba(236, 64, 67, 0.486);
$color-container-blue: rgba(63, 107, 188, 0.637);