//ACTIVE PROBLEM: UL doesn't fill entire .navbar element

//white bar across entire top screen (nav tag)
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    //targets ul navbar
    .main-nav {
        display: flex;
        flex-grow: 1;
        // height: 8vh;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        background-color: $color-1;
    }
    
    //targets <a> tags inside <li>'s
    .nav-items {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        height: 7vh;
        width: 10vw;

        &:hover {
            color: $color-3;
            background-color: $color-2;
        }
    }

    //hides hamburger icon
    .navbar-toggle {
        display: none;
    }

//Navbar for mobile
@media only screen and (max-width: 768px) {

    //sets navbar to be 100% of it's content
    .navbar {
        height: 100%;
    }

    //sets navbar to be invis when hamburger isn't pressed & formats the invis navbar for mobile
    .main-nav {
        display: none;
        margin: auto;
        & li {
            margin: 15px auto;
        }
    }

    //makes navbar visible instead of invis
    .active {
        display: block;
    }

    //styling for the hamburger & turns it on for mobile
    .navbar-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: $color-2;
        font-size: 2.5rem;
        z-index:99;
    }
}

