*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* we are setting root font size. Using px to set it is bad practice. Use a %. so if you want 10px as default do 10/16 = 62.5  */
    font-size: 62.5%;
    
}

html,
body {
    /* Borders and paddings aren't added to the width and height of a box. */
    box-sizing: border-box; 
    background-color: $color-4;
    margin: 10vh 0 0 0;
    padding: 0;
    height: 100%
    
}

main {
    height: 100%;
}

section {
    width: 100vw;
    height: 95vh;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50%;
    margin-right: -50%;
}