//global reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* we are setting root font size. Using px to set it is bad practice. Use a %. so if you want 10px as default do 10/16 = 62.5  */
    font-size: 62.5%;
    
}

//makes entire body into a vertical flexbox
body {
    background-color: $color-4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

main {
    flex:1;
    overflow: scroll;
    }

section {
    width: 100%;
    height: 100%;
}

//container for visible content in section
.container {      
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
    top: 10%;
    background-color: $dark-color;
}
