
//home section - background picture
#section-home {
    background-image: url("../images/codingpic.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    position: relative;

}

//places a very slightly opate color film over the background image
.colorLayer {
    background-color: $color-4Opate;
    height: 100%;
}

#section-about-me {
    background-color: $color-3;
}

#section-portfolio {
    background-color: $color-2;
}

#section-blog {
    background-color: $color-3;
}