

#section-home {
    background-color: $color-4;
}

#section-about-me {
    background-color: $color-3;
}

#section-portfolio {
    background-color: $color-2;
}

#section-blog {
    background-color: $color-3;
}