
//home section - background picture
#section-home {
    background-image: url("../images/codingpic.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    position: relative;

}

//places a very slightly opate color film over the background image
.colorLayer {
    // background-color: $color-4Opate;
    height: 100%;
}

//styles portrait
#myPic {
    grid-area: picture;
    width: 60%;
    min-width: 150px;
    justify-self: end;
    align-self: center;
    // border-radius: 50%;
}

//styles title bar
#title {
    grid-area: title;
    height: 100%;
    justify-self: center;
    align-self: center;
    color: $color-1;
    font-size: 8rem;
}

//text section
#bio {
    grid-area: bio;
    // background-color: $color-container-white;
    color: $color-1;
    font-size: 3rem;
    justify-self: center;
    align-self: center;
    // padding: 15%;
}

//linkedin
.icon1 {
    
    grid-area: icon1;
    font-size: 13rem;
    align-self: end;
    justify-self: center;
    padding-left: 5%;
}

//github
.icon2 {
    align-self: start;
    grid-area: icon2;
    font-size: 13rem;
    justify-self: center;
    padding-left: 5%;
}
#section-about-me {
    background-color: $color-6;
}

#section-portfolio {
    background-color: $color-2;
}

#section-contact {
    background-color: $color-6;
}

#section-blog {
    background-color: $color-2;
}